.page {
    display: flex;
    min-height: 100vh;
}

.page aside {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--PrimaryColor); */
    background-color: white;
    width: 100%;
}

.page .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 25px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.header .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3453d164;
    border-radius: 60px;
    height: 60px;
    width: 60px;
}

.header .titles {
    display: flex;
    flex-direction: column;
}

.header h1 {
    font-size: 30px;
}

.header h2 {
    color: rgb(88, 88, 88);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    width: 100%;
}