.button {
    background-color: #1b1b1b;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

@media (hover: hover) {
    .button:hover {
        opacity: 0.8;
    }
}