.section {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    gap: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.options {
    display: flex;
    gap: 15px;
}

.refreshButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 2px solid gray;
    cursor: pointer;
    padding: 6px;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.refreshButton:disabled {
    background-color: #efefef;
    cursor: wait;
}

.refreshIcon {
    height: 20px;
    width: 20px;
}

.refreshButton:disabled .refreshIcon {
    animation: refresh 0.8s linear infinite;
}

@keyframes refresh {
    100% {
        transform: rotate(-360deg);
    }
}

.options input[type="search"] {
    border: 2px solid gray;
    border-radius: 8px;
    padding: 10px 14px;
    width: 240px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.pages {
    display: flex;
    gap: 0.5rem;
}

.pageButton {
    background: transparent;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px 12px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.pageButton:hover {
    background-color: #3454d1;
    color: white;
    border-color: #3454d1;
}

.active {
    background-color: #3454d1;
    color: white;
    border-color: #3454d1;
}

@media (max-width: 1500px) and (min-width: 781px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 780px) {
    .section {
        padding: 20px;
    }
    .header h1 {
        font-size: 25px;
    }
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}